<!DOCTYPE html>
<html lang="en">

<head>
    <title>JStory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6b3377d2bb.js" crossorigin="anonymous"></script>

    <!-- sweetAlert, 스로틀, 디바운스 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <!-- Highlight.js 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <!--quill-->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/quill/dist/quill.min.js"></script>


    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- jquery & iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="drawer drawer--left">

    <input type="hidden" id="principal-id" value="" />

    <nav class="drawer-nav my_nav_slider" role="navigation">
        <ul class="drawer-menu">
            <li><a class="drawer-brand" href="/">Home</a></li>
            <li><a class="drawer-menu-item" href="/user/post?categoryId="></a></li>
        </ul>

        <div class="my_nav_slider_visit">
            <div>방문자수 : </div>
            <i class="fa-solid fa-camera"></i>
        </div>
    </nav>

    <nav class="navbar navbar-expand-sm my_navbar">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="my_icon_btn drawer-toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </li>
        </ul>

        <div class="my_navbar_title">
            Getinthere
        </div>

        <!-- Navbar text-->
        <ul class="navbar-nav">
            {{#sessionUser}}
                <div class="dropdown dropleft">
                    <div data-toggle="dropdown" class="d-flex justify-content-end">
                        <img id="profile-img-btn" src="/images/dog.jpg"
                             class="my_profile_rounded_img_btn dropdown-toggle">
                    </div>
                    <!--메뉴-->
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/post/list">내블로그</a>
                        <a class="dropdown-item" href="/user/update-form">계정관리</a>
                        <a class="dropdown-item" href="/s/category/write-form">카테고리관리</a>
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                    </div>
                </div>
            {{/sessionUser}}

            {{^sessionUser}}
                <div>
                    <a class="my_main_start_btn" href="/login-form">시작하기</a>
                </div>
            {{/sessionUser}}



        </ul>

        <!-- <ul class="navbar-nav">
            <li class="nav-item">
                프로필사진
            </li>
        </ul> -->
    </nav>
    <br>