{{>/layout/main-header}}

<style>
    .pw-box {
        position: relative;
    }

    .fa-solid {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<input type="hidden" id="userId" value="">

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="d-flex justify-content-center">

                <img src="/images/dog.jpg" class="my_profile_rounded_img_btn_lg" id="profile-img-btn_lg">

                <form id="fileForm">
                    <input type="file" class="my_hidden" id="profile-img-input" name="profileImgFile"/>
                </form>
            </div>
            <div class="my_error_box my_hidden">

            </div>
            <!-- 수정은 put 요청 fetch 사용해야함 -->
            <form id="updateUserForm">
                <input id="username" name="username" class="my_auth_form_box_input" type="text" placeholder="유저네임"
                       maxlength="20"
                       value="{{user.username}}" required readonly/>
                <!--비번 수정부분-->
                <div class="pw-box">
                    <input id="password" name="password" class="my_auth_form_box_input" type="password"
                           placeholder="기존 비밀번호"
                           maxlength="20" data-target="#password"
                           required/>
                    <i class="fa-solid fa-eye-slash togglePassword"></i>
                </div>
                <div class="pw-box">
                    <input id="same-password" name="new-password" class="my_auth_form_box_input" type="password"
                           placeholder="수정 비밀번호"
                           maxlength="20" data-target="#same-password" required/>
                        <i class="fa-solid fa-eye-slash togglePassword"></i>
                </div>
                <!--비번 수정부분-->
                <input class="my_auth_form_box_input" type="email" name="email" placeholder="이메일" maxlength="60"
                       value="{{user.email}}" required readonly/>
                <button type="submit" class="my_secondary_btn">회원정보수정</button>
            </form>
            <div class="my_auth_form_box_link">
                <div><a href="/login-form">로그인</a></div>
                <div><a href="/user/password-reset-form">비밀번호 찾기</a></div>
            </div>
        </div>
    </div>
    <br/>
</div>

<script>
    $("#updateUserForm").on("submit", function (e) {
        e.preventDefault();

        let password = $("#password").val();
        // console.log("password " + password);

        let newPassword = $("#same-password").val();
        // console.log("newPassword " + newPassword);

        //한번에 넘기장
        let passwords = {
            password: password,
            newPassword: newPassword
        };

        $.ajax({
            url: '/user/update',
            data: JSON.stringify(passwords),
            contentType: 'application/json; charset=utf-8',
            type: 'PUT'

        }).done((res) => {
            //swal - 비동기적으로 작동. 그래서 자꾸 alert창 안뜨고 바로 /로 넘어간다
            swal.fire({
                text: "회원정보 변경이 완료되었습니다.",
                icon: "success",
                button: "확인"

                // then - 비동기 작업이 완료된 후에 실행할 코드를 지정할 때 사용 (promise)
            }).then(() => {
                window.location.href = "/";
            });

        }).fail((res) => {
            swal.fire({
                // text: "동일한 비밀번호로는 변경할 수 없습니다.",
                // res에서 msg 빼오고, apiException 만들어야하는데 exception 아직 하지 말라고 하셔서 패스
                text: "비밀번호를 확인해주세요",
                icon: "warning",
                button: "확인"
            });

        });
    });

    //비밀번호 숨기기 보이기
    // $('.togglePassword').on('click', function () {
    //     $(this).toggleClass('active');
    //
    //     if ($(this).hasClass('active')) {
    //         $(this).find("fa-eye").attr('class', "fa-eye-slash")
    //                 .parents('.pw-box').find('#password').attr('type', "text");
    //     } else {
    //         $(this).find("fa-eye-slash").attr('class', "fa-eye")
    //                 .parents('.pw-box').find('#password').attr('type', "text");
    //     }
    // });

    // $('.togglePassword').on('click', function () {
    //     let input = $(this).siblings('input'); // 바로 옆의 비밀번호 필드
    //     input.attr('type', input.attr('type') === 'password' ? 'text' : 'password'); // type 속성 토글
    //
    //     // 아이콘을 변경
    //     $(this).toggleClass('fa-eye fa-eye-slash');
    // });

    // 비밀번호 입력 필드 타입을 토글하는 함수
    function togglePasswordVisibility($icon, $input) {
        // 입력 필드의 type 속성을 토글
        $input.attr('type', $input.attr('type') === 'password' ? 'text' : 'password');

        // 아이콘을 토글
        $icon.toggleClass('fa-eye fa-eye-slash');
    }

    // 토글 이벤트 핸들러
    $('.togglePassword').on('click', function () {
        let $icon = $(this); // 클릭된 아이콘
        let $input = $icon.siblings('input'); // 아이콘 옆의 입력 필드

        // 비밀번호 보이기/숨기기 함수 호출
        togglePasswordVisibility($icon, $input);
    });




</script>


{{>/layout/footer}}