{{>/layout/main-header}}

<div class="container">
    <div class="my_auth_box">
        <div class="my_auth_form_box">
            <div class="my_auth_form_box_title">JSotry</div>
            <form id="categoryForm" action="/s/category/save" method="POST">
<!--                <input class="my_auth_form_box_input" type="text" name="title" id="categoryName" placeholder="카테고리명" required />-->
                <input class="my_auth_form_box_input" type="text" id="categoryName" name="categoryName" placeholder="카테고리 이름을 입력하세요" />

                <button type="submit" class="my_secondary_btn">등록</button>
            </form>
        </div>
    </div>
    <br />
</div>

<script>
    // JavaScript를 통해 폼 유효성 검사
    $("#categoryForm").on("submit", function (e) {
        const categoryName = $("#categoryName").val().trim();

        if (!categoryName) {
            alert("카테고리명을 입력해주세요.");
            e.preventDefault(); // 폼 제출 막기
        }
    });

    // $("#categoryForm").on("submit", function (e) {
    //     // 폼 막기
    //     e.preventDefault();
    //
    //     // 카테고리명이 비어있으면 경고 메시지 표시
    //     if (!categoryName) {
    //         alert("카테고리명을 입력해주세요.");
    //         return false; // 제출 막기
    //     }
    //
    //     // return true; // 제출 허용
    //
    //     // 카테고리명이 유효하면 폼 제출
    //     this.submit(); // 폼을 제출
    //
    // });

</script>

{{>/layout/footer}}
